language: python

python:
    - 2.6
    - 2.7

env:
    - NUMPY_VERSION=1.8

# Extra numpy version tests
matrix:
    include:
        - python: 2.7
          env: NUMPY_VERSION=1.6
        - python: 2.7
          env: NUMPY_VERSION=1.7

before_install:
    - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda update --yes conda

install:
    - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
    - source activate test
    - conda install --yes numpy=$NUMPY_VERSION pytest
    - python setup.py install

script: ./test.py
