# Development requires all of the packages that installation requires
-r requirements.txt

# Required for the test suite:
pytest
pytest-cov
pytest-xdist
coveralls

dill
h5py
tqdm

jupyter
ipyparallel

pylint<=3.3.7
astroid<=3.3.9 

sphinx
sphinx-rtd-theme
numpydoc
