# Development requires all of the packages that installation requires
-r requirements.txt

# Required for the test suite:
pytest
pytest-cov
pytest-xdist
coveralls

dill
h5py
tqdm

jupyter
ipyparallel

pylint

sphinx
sphinx-rtd-theme
numpydoc
